<table class='ui-widget hover'  id="{{id}}">
    <thead>
        <tr>
            <th>Payment From</th>
            <th>From BSB</th>
            <th>From Account</th>
            <th>Payment To</th>
            <th>To BSB</th>
            <th>To Account</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Entity Source</th>
            <th>Created On</th>
            <th>Created By</th>
            <th>Last Updated On</th>
            <th>Last Updated by</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        <tr style="pointer: cursor;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
