<div id="paymentDetailsView">
    <div id="paymentDetailsSummary">
        <fieldset>
            <legend>Payment Details</legend>
            <div class="epc-container-row">
                <div class="epc-container-form-labels">
                        <label for="from">From:</label>
                        <label for="fromBSB">From BSB:</label>
                        <label for="fromAccount">From Account:</label>
                        <label for="to">To:</label>
                        <label for="toBSB">To BSB:</label>
                        <label for="toAccount">To Account:</label>
                        <label for="amount">Amount:</label>
                        <label for="status">Status:</label>
                        <label for="entitySource">Source:</label>
                        <label for="createdOn">Created on:</label>
                        <label for="createdBy">Created by:</label>
                        <label for="lastUpdatedOn">Updated on:</label>
                        <label for="lastUpdatedBy">Updated by:</label>
                        <label for="comments">Comments:</label>
                </div>
                <div class="epc-container-form-inputs">
                        <label id="from"></label>
                        <label id="fromBSB"></label>
                        <label id="fromAccount"></label>
                        <label id="to"></label>
                        <label id="toBSB"></label>
                        <label id="toAccount"></label>
                        <label id="amount"></label>
                        <label id="status"></label>
                        <label id="entitySource"></label>
                        <label id="createdOn"></label>
                        <label id="createdBy"></label>
                        <label id="lastUpdatedOn"></label>
                        <label id="lastUpdatedBy"></label>
                        <label id="comments"></label>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div id="paymentDetailsActions">
        <fieldset>
            <legend>Available Actions</legend>
            <button id="paymentDetailsNextButton">Next</button>
            <button id="paymentDetailsCloseButton">Close</button>
        </fieldset>
    </div>
</div>
